<div class="row">
  <div class="col-xs-12">
    <h5>
      <a routerLink="../../">{{routeParams.name}} - Albums </a> / Tracks
    </h5>
  </div>
</div>
<div class="row  mb-5 mt-4">
  <div class="col-xs-2">
    <img [src]="selectedAlbum?.albumImageURL" width="100%" class="responsive-image mat-elevation-z1" *ngIf="selectedAlbum?.albumImageURL">
  </div>
  <div class="col-xs-10">
    <h2> {{selectedAlbum?.albumName}} </h2>
    <div class="row">
      <div class="col-xs-12 album-details">
        {{selectedAlbum?.artistName}} </div>
    </div>
    <div class="row mt-2">
      <div class="col-xs-12 album-details">
        {{selectedAlbum?.releaseDate | date:'yyyy'}} | {{selectedAlbum?.trackCount}} Songs | {{selectedAlbum?.genre}}
      </div>
    </div>
  </div>
</div>
<table mat-table [dataSource]="tracks" class="mat-elevation-z8">
  <ng-container matColumnDef="Number">
    <th mat-header-cell *matHeaderCellDef style="width:60px"> # </th>
    <td mat-cell *matCellDef="let element"> {{element.trackNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.trackName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="track-row" (click)="playTrack(row)"></tr>
</table>