.album-card {
  width: 160px;
  height: 240px;
  overflow: hidden;
  display: inline-block;
  margin: 20px 30px;
  padding: 0;
  cursor: pointer;
}

.album-title {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
