.album-card {
  overflow: hidden;
  margin: 20px 0px;
  padding: 0;
  cursor: pointer;
  height: 250x;
}

.album-title {
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 40px;
  overflow: hidden;
}
